p {
    font-size: 16px;
}
/* landing_page */
.bg-jumbotron-for-landing-page{
    background-image: url(https://wallpaperaccess.com/full/236571.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: .75;
}

.landing-page-banner{
    position: relative;
}

.landing-page-banner h1{
    position: absolute;
    top: 10%;
    left: 10%;
    color: transparent;
    -webkit-text-stroke: 2px #333;
}

@media (max-width: 767px) {
    .landing-page-banner h1{
        font-size: 1.2rem;
        -webkit-text-stroke: 0px;
        color: #333;
    }
}

/* shopping_index */

.nav-cart-btn:hover {
    background: #fff;
    color: #b40000 !important;
}

.btn-cart {
    position: relative;
}

.btn-cart .btn-cart-badge {
    position: absolute;
    top: 2px;
    right: 5px;
}

.bg-jumbotron {
    background-image: url(https://s.yimg.com/uu/api/res/1.2/wVFxlO5S0sftqbs5qBVgFw--~B/aD04MDA7dz0xNjAwO3NtPTE7YXBwaWQ9eXRhY2h5b24-/http://media.zenfs.com/en_US/News/US-AFPRelax/tlozlinksawaken.2e50a112050.original.jpg);
    background-size: cover;
    background-position: bottom center;
    min-height: 400px;
}

.description-bg {
    background-color: rgba(255, 255, 255, .5);
}

.card-shadow {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .16);
    transition: box-shadow .3s;
}

.card-shadow:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .32);
}
/* 
.pagination-style .list-group-item {
    padding: .5rem 1rem;
}

.pagination-style .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: .25rem;
}

.pagination-style .list-group-item:last-child {
    border-bottom-left-radius: 0rem;
    border-top-right-radius: .25rem;
    margin-bottom: -1px;
} */


/* 處理小螢幕尺寸dropdown方向問題 */

@media (max-width: 374px) {
    .dropdown-menu.dropdown-menu-right {
        right: auto;
        left: 0;
    }
}


/* shopping_product */

.price .origin-price {
    text-decoration: line-through;
}

.btn.disabled {
    pointer-events: none;
}


/* shopping_checkout */

.alert-rounded {
    border-radius: 50px;
}

